.main--title {
    margin-top: 10% ;
    text-align: center;
    font-size: 29px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 10%;
    margin-left:30%;
    width: 400px;
    background-color: #7ce0ae;
    padding: 50px;

    box-shadow: 5px 10px #738b74;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.button-invoice {
    margin: 20px;
    align-items: center;
    background-color: #9ed7af;
    box-shadow: 2px 4px #9eb6a3;
}
