.main--title {
    margin: 0;
    font-size: 29px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
    background-color: #ADD8E6;
    padding: 50px;
    margin: 20px;
    box-shadow: 5px 10px #888888;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.button-invoice {
    margin: 20px;
    background-color: #ADD8E6;
    box-shadow: 2px 4px #888888;
}
